{% style %}
  .size-guide-container {
    margin: auto;
  }

  .size-guide-container table {
    text-align: center;
  }
{% endstyle %}

<div class="page-width page-width--narrow">
   <center class="size-guide-container">
     <input type="checkbox" id="size-guide-switch" class="checkbox" />
      <label for="size-guide-switch" class="toggle">
        <div class="labels">
          {%- for block in section.blocks -%}
            {% assign measurement_units = block.settings.unit | split:'' | uniq %}
            {%- for unit in measurement_units -%}
              <p>{{ unit }}</p>
            {%- endfor -%}
          {%- endfor -%}
        </div>
      </label>
  <h3>{{ section.settings.title }}</h3>
    <table>
      <thead>
        <tr>
          <td {% if section.settings.span-2-cols %}colspan="2"{% endif %}>{{ section.settings.header--col1 }}</td>
          {%- unless section.settings.span-2-cols -%}<td>{{ section.settings.header--col2 }}</td>{%- endunless -%}
          <td>{{ section.settings.header--col3 }}</td>
          <td>{{ section.settings.header--col4 }}</td>
          <td>{{ section.settings.header--col5 }}</td>
          <td>{{ section.settings.header--col6 }}</td>
        </tr>
      </thead>
      <tbody>
      {%- for block in section.blocks -%}
        {%- case block.settings.unit -%}
          {%- when 'IN'-%}
        <tr class="guide-inches">
          <td>{{ block.settings.size-label }}</td>
          <td>{{ block.settings.size-general }}</td>
          <td>{{ block.settings.size-us }}</td>
          <td>{{ block.settings.bust-size }}</td>
          <td>{{ block.settings.waist-size }}</td>
          <td>{{ block.settings.hip-size }}</td>
        </tr>
      
          {%- when 'CM'-%}
        <tr class="guide-cm">
          <td>{{ block.settings.size-label }}</td>
          <td>{{ block.settings.size-general }}</td>
          <td>{{ block.settings.size-us }}</td>
          <td>{{ block.settings.bust-size }}</td>
          <td>{{ block.settings.waist-size }}</td>
          <td>{{ block.settings.hip-size }}</td>
        </tr>
      
        {%- endcase -%}
      {%- endfor -%}
      </tbody>
    </table>
  </center>
</div>

{% schema %}
  {
    "name": "Size Guide Table",
    "tag": "section",
    "class": "size-guide-table",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Size Guide"
      },
      {
        "type": "header",
        "content": "Table Headers"
      },
      {
        "type": "text",
        "id": "header--col1",
        "label": "Column 1",
        "default": "PRIMI Size"
      },
      {
        "type": "checkbox",
        "id": "span-2-cols",
        "label": "Make first header span 2 columns"
      },
      {
        "type": "text",
        "id": "header--col2",
        "label": "Column 2",
        "default": "General",
        "info": "Note: when Header 1 spans 2 columns, header 2 is automatically hidden."
      },
      {
        "type": "text",
        "id": "header--col3",
        "label": "Column 3",
        "default": "US Size"
      },
      {
        "type": "text",
        "id": "header--col4",
        "label": "Column 4",
        "default": "BUST"
      },
      {
        "type": "text",
        "id": "header--col5",
        "label": "Column 5",
        "default": "WAIST"
      },
      {
        "type": "text",
        "id": "header--col6",
        "label": "Header Column 6",
        "default": "HIP"
      }
    ],
    "blocks": [
      {
        "type": "size-entry",
        "name": "Size Entry",
        "settings": [
          {
            "type": "text",
            "id": "unit",
            "label": "Measurement unit"
          },
          {
            "type": "text",
            "id": "size-label",
            "label": "Size Label",
          },
          {
            "type": "text",
            "id": "size-general",
            "label": "Size (General)",
          },
          {
            "type": "text",
            "id": "size-us",
            "label": "Size (US)",
          },
          {
            "type": "text",
            "id": "bust-size",
            "label": "Bust Size",
          },
          {
            "type": "text",
            "id": "waist-size",
            "label": "Waist Size",
          },
          {
            "type": "text",
            "id": "hip-size",
            "label": "Hip Size",
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Size Guide Table"
      }
    ]
  }
{% endschema %}