{% style %}
  center.size-guide-container {
    display: grid;
    grid-template-areas:
        "title switch"
        "table table";
    align-items: center;
  }
  
  .size-guide-container h3 {
    grid-area: title;
    justify-self: flex-start;
  }
  
  .size-guide-container {
    margin: auto;
  }
  
  .toggle {
    position: relative;
    /* display: inline-block; */
    grid-area: switch;
    justify-self: end;
    width: 80px;
    height: 32px;
    border-radius: 30px;
    border: 2px solid #121212BF;
  }

  /* After toggle changes */
  .toggle:after {
    content: "";
    position: absolute;
    width: 50%;
    height: 30px;
    border-radius: 30px;
    background-color: #6D767A;
    top: -1px;
    left: 0;
    transition: all 0.5s;
  }

  /* Checkbox checked effect */
  .checkbox:checked + .toggle::after {
    left: 50%;
  }

  /* Checkbox checked toggle label bg color */
  .checkbox:checked + .toggle {
    background-color: #FFFFFF;
  }

  /* Checkbox vanished */
  #size-guide-switch {
    display: none;
  }

  .labels {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
  }
  
  .labels p {
      margin: 0;
      padding: 0
  }

  #size-guide-switch ~ .table-container .guide-cm {
    display: none;
  }

  #size-guide-switch:checked ~ .table-container .guide-cm {
    display: table-row
  }
  #size-guide-switch:checked ~ .table-container .guide-inches {
    display: none;
  }

  .table-container {
    width: 100%;
    padding: 2.5rem;
    grid-area: table;
    background: #DEDEDE;
    border-radius: 25px;
  }

  .size-guide {
    width: 100%;
    border-collapse: collapse;
  }

  .size-guide thead {
    border-bottom: 2px solid #121212BF;
  }

  .size-guide tbody tr:not(:last-of-type) {
    border-bottom: 1px solid darkgrey;
  }

  .size-guide td {
    padding: 8px;
  }

  @media screen and (min-width: 768px) {
    .table-container {
      padding: 1rem;
      text-align: center;
    }
  }
{% endstyle %}

<div class="page-width page-width--narrow">
   <center class="size-guide-container">
     <h3>{{ section.settings.title }}</h3>
     <input type="checkbox" id="size-guide-switch" class="checkbox" />
      <label for="size-guide-switch" class="toggle">
        <div class="labels">
          <p>CM</p>
          <p>IN</p>
        </div>
      </label>
    <div class="table-container">
    <table class="size-guide">
      <thead>
        <tr>
          <td {% if section.settings.span-2-cols %}colspan="2"{% endif %}>{{ section.settings.header--col1 }}</td>
          {%- unless section.settings.span-2-cols -%}<td>{{ section.settings.header--col2 }}</td>{%- endunless -%}
          <td>{{ section.settings.header--col3 }}</td>
          <td>{{ section.settings.header--col4 }}</td>
          <td>{{ section.settings.header--col5 }}</td>
          <td>{{ section.settings.header--col6 }}</td>
        </tr>
      </thead>
      <tbody>
      {%- for block in section.blocks -%}
        {%- case block.settings.unit -%}
          {%- when 'in'-%}
        <tr class="guide-inches">
          <td>{{ block.settings.size-label }}</td>
          <td>{{ block.settings.size-general }}</td>
          <td>{{ block.settings.size-us }}</td>
          <td>{{ block.settings.bust-size }}</td>
          <td>{{ block.settings.waist-size }}</td>
          <td>{{ block.settings.hip-size }}</td>
        </tr>
      
          {%- when 'cm'-%}
        <tr class="guide-cm">
          <td>{{ block.settings.size-label }}</td>
          <td>{{ block.settings.size-general }}</td>
          <td>{{ block.settings.size-us }}</td>
          <td>{{ block.settings.bust-size }}</td>
          <td>{{ block.settings.waist-size }}</td>
          <td>{{ block.settings.hip-size }}</td>
        </tr>
      
        {%- endcase -%}
      {%- endfor -%}
      </tbody>
    </table>
    </div>
  </center>
</div>

{% schema %}
  {
    "name": "Size Guide Table",
    "tag": "section",
    "class": "size-guide-table",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Size Guide"
      },
      {
        "type": "header",
        "content": "Table Headers"
      },
      {
        "type": "text",
        "id": "header--col1",
        "label": "Column 1",
        "default": "PRIMI Size"
      },
      {
        "type": "checkbox",
        "id": "span-2-cols",
        "label": "Make first header span 2 columns"
      },
      {
        "type": "text",
        "id": "header--col2",
        "label": "Column 2",
        "default": "General",
        "info": "Note: when Header 1 spans 2 columns, header 2 is automatically hidden."
      },
      {
        "type": "text",
        "id": "header--col3",
        "label": "Column 3",
        "default": "US Size"
      },
      {
        "type": "text",
        "id": "header--col4",
        "label": "Column 4",
        "default": "BUST"
      },
      {
        "type": "text",
        "id": "header--col5",
        "label": "Column 5",
        "default": "WAIST"
      },
      {
        "type": "text",
        "id": "header--col6",
        "label": "Header Column 6",
        "default": "HIP"
      }
    ],
    "blocks": [
      {
        "type": "size-entry",
        "name": "Size Entry",
        "settings": [
          {
            "type": "text",
            "id": "unit",
            "label": "Measurement unit"
          },
          {
            "type": "text",
            "id": "size-label",
            "label": "Size Label",
          },
          {
            "type": "text",
            "id": "size-general",
            "label": "Size (General)",
          },
          {
            "type": "text",
            "id": "size-us",
            "label": "Size (US)",
          },
          {
            "type": "text",
            "id": "bust-size",
            "label": "Bust Size",
          },
          {
            "type": "text",
            "id": "waist-size",
            "label": "Waist Size",
          },
          {
            "type": "text",
            "id": "hip-size",
            "label": "Hip Size",
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Size Guide Table"
      }
    ]
  }
{% endschema %}